target/
!target/*.jar
.idea/
*.iml
.vscode/
build/
.gradle/
logs/
*.log
test-results/
test-classes/
docs/
.docker/
.git/
.gitignore
.env
node_modules/
tmp/
*.tmp
docker-compose.yml
docker-compose.override.yml
application.properties
application.yml
gradlew
gradlew.bat
gradle/
*.iws
*.ipr
*.iws.xml
out/
.classpath
.project
.settings/
nbproject/
